* {
   margin: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
   --pink:#ee9c8c;
   --red: #E8534e;
   --dark-red: #3e1615;
   --white: white;
   --light-grey: #f1f1f1;
   --grey:#D7dbd6;
   --dark-grey:#4f4f50;
   --darker-grey:#2e2d34;
   --black: #201f24;

   scroll-behavior: smooth;
}


/* UTILITY STYLES */

a {
   text-decoration: none;
   font-weight: 600;
}

h1 {
   font-size: 2.5rem;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 0.8rem;
}

h2 {
   font-size: 1.3rem;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 0.8rem;
}

h3 {
   font-size: 0.8rem;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 0.5rem;
}

h4 {
   font-size: 0.5rem;
   text-transform: uppercase;
   margin-bottom: 0.8rem;
}

.button {
   padding: 8px 26px;
   background-color: rgba(0, 0, 0, 0.6);
   border: solid 1px var(--red);
   border-radius: 20px;
   font-size: 0.9rem;
   color: var(--white);
   max-width: 200px;
   text-align: center;
}

.button:hover {
   background-color: var(--red);
}

.button:active {
   transform: scale(0.95);
}


.container {
   background-color:var(--black);
   background-image: url("images/bg_black.png");
   background-size: 35%;
   background-repeat: repeat;
   min-height: 100vh;

   cursor: url(images/icons/cursor.svg), auto;

   display: grid;
   grid-template:
      "top-nav" auto
      "main" 1fr
      "footer" auto /
      1fr;
}

.dropshadow  {
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.icon {
   width: 20px;
}

.input {
   background-color:var(--light-grey);
   border: solid 1px var(--red);
   font-size: 0.9rem;
   padding: 8px 18px;
   border-radius: 20px;
   max-width: 200px;
}

.info-form {
   display: block;
   background-color:var(--light-grey);
   font-size: 0.9rem;
   padding: 10px;
   border-radius: 3px;
   width: 200px;
   margin-bottom: 15px;
}

.wrapper {
   max-width: 900px;
   padding: 3rem 3rem;
   margin-left: auto;
   margin-right: auto;
}

.white {
   color: var(--white);
}

/* TOP NAV  */

.top-nav {
   grid-area: top-nav;

   display: grid;
   grid-template-columns: 40px 40px 1fr 40px 40px;
   place-items: center;
   padding: 10px;

   background-color: var(--white);
}

.top-nav .logo {
   height: 45px;
   transition: .2s ease-in-out;
}

.top-nav .logo:active {
   transform: rotate(12deg);
}

.top-nav .basket:hover,
.top-nav .account:hover,
.top-nav .menu:hover {
   fill: var(--red);
}

.basket:active {
   animation-name: basket;
   animation-duration: .2s;
}

.top-nav .dropmenu {
   position: relative;
}

.top-nav .dropdown {
   display: none;

   position: absolute;
}

.top-nav .dropmenu:hover .dropdown {
   display: block;
}

@keyframes basket {
   0% {transform:rotate(0deg);}
   30% {transform:rotate(5deg);}
   100% {transform:rotate(-5deg);}
   
}

/* MAIN  */

.main {
   grid-area: main;
}

/* HERO */

.hero-section{
   background-image: url(images/500_F_269909534_p304vArsMXZLsYuz6Ab0nqRs55GRahnF.jpg);
   background-size: 100%;
   background-position: center;
}

.hero {
   text-align: center;
   color: var(--white);
}

.hero h1 {
   text-align: center;
}

.hero .view-menu,
.hero .book-table {
   display: inline-block;
   margin: 5px 5px;
}


/* TESTIMONIAL */

.testimonial {
   text-align: center;
}

.testimonial p {
   margin: 1rem 0;
   color: var(--white);
}

/* SUBSCRIBE */

.subscribe-section {
   background-image: url(images/500_F_255497620_pEVnbqHwArEP6rCHmw8CZbcUY3tP4lCk.jpg);
   background-size: 100%;
   background-position: center;
}

.subscribe {
   color: var(--white);
}

.subscribe .input {
   width: 300px;
   margin-right: 10px;
}

/* GALLERY */

.gallery {
   display: grid;
   grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
   place-items: center;
}

.gallery .pic {
   max-width: 150px;
}

.chevron {
   width: 30px;
}

/* FOOTER */

.footer {
grid-area: footer;

   background-color: var(--red);
   display: grid;
   grid-template-columns: 1fr auto;

   padding: 30px;
   color: black;
}

.footer ul {
   list-style: none;
   padding-inline-start: 0;
}

.footer li {
   font-size: 0.8rem;
   margin-bottom: 0.2rem;
   font-weight: 400;
}

.footer a{
   color: var(--black);
}

.footer .socials .icon {
   margin-left: 10px;
}

.footer .socials .icon:hover {
   fill: var(--white);
}

.footer .socials .icon:active {
   transform: scale(0.93);
}


/* BOOKING PAGE */

.booking {
   display: grid;
   grid-template-columns: 2fr 200px;
   gap: 25px;
   color: white;
}

.form {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   gap: 15px;
   padding: 20px;
}

.booking .info-form {
   
}

.aside {
overflow: hidden;
}

.side-pic {
   object-fit: cover;
   object-position: -100px;
}



/* MENU PAGE  */

.food-section {
   height: 70vh;
   overflow: scroll;
}

.food-nav ol{
   text-align: center;
   padding-top: 2rem;
   padding-inline-start: 0px;
}

.food-nav li {
   display: inline-block;
   margin: 0 15px;
}

.food-nav a{
   color: var(--white);
}
.food-nav a:hover{
   color: var(--red);
}
.food-nav a:active{
   color: var(--pink);
}

.food .title {
   color: white;
   text-align: center;
}

.starters,
.mains,
.sides {
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(225px,1fr));
   place-items: center;
   gap: 20px;
   margin-bottom: 25px;
}

.mealcard {
   background-color: var(--light-grey);
   max-width: 330px;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
   position: relative;
}

.mealcard:hover {
   background-color: var(--white);
   border: solid 1px var(--red);
   transform: scale(1.03);
}

.mealcard button {
   background-color: var(--red);
   border: none;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   color: white;

   position: absolute;
   right: 10px;
   bottom: 10px;
}

.mealcard button:hover {
   background-color: var(--pink);
   opacity: 50%;
}

.mealcard button:active {
   transform: scale(0.9);
}

.mealcard .like {
   fill: var(--dark-grey);
   border: none;
   width: 26px;
   height: 20px;
   border-radius: 50%;
   color: white;

   position: absolute;
   right: 10px;
   top: 10px;
}

.mealcard .like:hover{
   opacity: 60%;
}

.mealcard .like:active{
   fill: var(--red);
   transform: scale(1.3);
}

.mealcard .dish {
   max-width: 200px;
   border-radius: 50%;
}

.mealcard .name {
   font-size:medium;
   color: var(--red);
   margin: 5px 0px;
}

.mealcard .price {
font-size: 0.7rem;
color: var(--dark-grey);
}

.food-section hr {
   margin: 25px 0;
   border: solid 1px var(--dark-grey);
}

.bottom-button   {
   display: grid;
   justify-content: center;
   margin: 20px 0;
}


@media screen and (max-width:450px) {
   .container {
      grid-template:
      "main" 1fr 
      "top-nav" auto /
         1fr;

      height: 100vh;
   }

   .body {
      height: 100%;
      overflow: hidden;
   }

   .footer{
      display: none;
   }

   .main {
      overflow: scroll;
   }
}

@media screen and (max-width:800px) {

   .wrapper {
      padding: 2rem;
   }

   .subscribe {
      text-align: center;
   }

   .gallery {
      grid-template-columns: 30px auto 30px;
   }
   .picextra {
      display: none;
   }

}

@media screen and (max-width:500px){
   /* menu page  */

   .mealcard .dish {
      max-width: 80px;
   }

   .mealcard {
      display: grid;
      grid-template-columns: 1fr 2fr;
      place-items: center;
   }

   .aside {
      display: none;
   }
}